header {
    display: flex;
}

nav ul {
    flex-direction: row;
    /* justify-content: space-between; */
}

nav li {
    display: contents;
}

header h1 {
    width: 60%;
}

.menu::before {
    content: none;
}