:root {
    /* colors */
    --purple: #B0A3D4;
    --red: #DD403A;
    --dark: #3E363F;
    --light: #ffffff;
}

* {
    /* margin and padding and block all set to 0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* font */
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

header,
footer {
    /* color */
    text-align: center;
    padding: 1.5rem
}

h1 {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--dark);
}

/* this is to make an affect of bottom border on the header effect (could also use a border on bottom of header */
aside {
    background-color: var(--dark);
    padding: .5rem;
}

img {
    width: 100%;
    height: auto;
}

#svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    /* this is so the font of the paragraph is not suished int to the h2 */
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card {
    background-color: white;
    border-radius: .5rem;
    /* you could play with margin and padding */

}

.card h2 {
    text-align: center;
}

.col-2 {
    display: grid;
    grid-gap: .5rem;
    /* this below makes two columns */
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.label {
    font-weight: 700;
    font-size: .85rem;
    text-align: right;
}

.value {
    font-size: .9rem;
}



main {
    background-color: var(--dark);
    padding-bottom: .5rem;
}

@media (min-width: 32rem) {

    h1 {
        font-size: 3rem;

    }

    main {
        position: relative;
    }

    .card {
        border: var(--red);
        box-shadow: 0 0 2rem;
        opacity: .8;
    }

    .card h2 {}

    .data {
        /* child of main */
        /* you have to make the main relative so that below can be absolute */
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }

    .weather h2::after {
        /* get a weather emoji */
        content: '⛅';
        position: absolute;
        right: 2.5rem;
        top: 1rem;
    }

    svg {
        display: none;
    }

    /* for h2 could put a background with opacity */

}